main {
  .text-encrypter {
    flex-direction: row;
    align-items: stretch;

    .encrypt,
    .decrypt {
      width: auto;
      max-height: none;
    }

    .switch {
      align-self: center;
    }
  }
}