main {
  .text-encrypter {
    flex-direction: row;
    align-items: stretch;

    .first-field,
    .second-field {
      width: auto;
      max-height: none;
    }

    .switch {
      align-self: center;
      rotate: 0deg;
    }
  }
}